<!doctype html>
<html lang="en" id="accessibility-site-report">
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Accessibility Site Report</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml, %3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23785EF0'%3E%3C/circle%3E%3Cpath d='M16.2528 24.9725V23.832C16.2528 21.5526 14.4057 19.7056 12.1264 19.7056C9.84708 19.7056 8 21.5526 8 23.832V27.0721C8 29.2906 9.74991 31.0986 11.9448 31.1939V29.2806C11.9448 26.905 13.8772 24.9725 16.2528 24.9725Z' fill='white'%3E%3C/path%3E%3Cpath d='M12.308 29.28V31.1979H16.2528V25.3352C14.0779 25.3352 12.308 27.1051 12.308 29.28Z' fill='white'%3E%3C/path%3E%3Cpath d='M22.8201 25.3289H18.6937V31.1997H22.8201V25.3289Z' fill='white'%3E%3C/path%3E%3Cpath d='M22.8201 17.6016C20.5408 17.6016 18.6937 19.4486 18.6937 21.728V24.9672H22.8201V17.6016Z' fill='white'%3E%3C/path%3E%3Cpath d='M29.3876 17.6016C27.1082 17.6016 25.2612 19.4486 25.2612 21.728V24.9672H29.3876V17.6016Z' fill='white'%3E%3C/path%3E%3Cpath d='M29.3876 25.3289H25.2612V31.1997H29.3876V25.3289Z' fill='white'%3E%3C/path%3E%3Cpath d='M36.3182 31.199C38.5976 31.199 40.4446 29.3519 40.4446 27.0726V25.3281H36.3182V31.199Z' fill='white'%3E%3C/path%3E%3Cpath d='M40.4446 19.7056C38.1653 19.7056 36.3182 21.5526 36.3182 23.832V24.9644H40.4446V19.7056Z' fill='white'%3E%3C/path%3E%3Cpath d='M35.955 23.832C35.955 21.5526 34.1079 19.7056 31.8286 19.7056V22.844C31.8286 23.6195 32.0429 24.3441 32.4143 24.9644H35.955V23.832Z' fill='white'%3E%3C/path%3E%3Cpath d='M35.955 26.9709V25.3281H32.6595C33.4123 26.3261 34.6083 26.9709 35.955 26.9709Z' fill='white'%3E%3C/path%3E%3C/svg%3E"
    />
    <%- include('partials/styles/bootstrap') %> <%- include('partials/styles/highlightjs') %> <%-
    include('partials/styles/styles') %>
  </head>

  <body class="d-flex flex-column">
    <%- include('partials/header') %> <%- include('partials/main') %> <%-
    include('partials/scripts/popper') %> <%- include('partials/scripts/bootstrap') %> <%-
    include('partials/scripts/highlightjs') %> <%- include('partials/scripts/utils') %> <%-
    include('partials/scripts/categorySummary') %> <%- include('partials/scripts/ruleOffcanvas') %>
    <%- include('partials/scripts/screenshotLightbox')%>
    <!-- search feat changes -->
    <%- include('partials/scripts/reportSearch') %>
    <script>
      const scanItems = <%- JSON.stringify(
          {
            ...items,
            passed: {
              rules: items.passed.rules.map(r => delete r.pagesAffected),
              ...items.passed
            },
          }
        ) %>
    </script>
    <script>
      function initTooltips() {
        const tooltipTriggerList = [].slice.call(
          document.querySelectorAll('[data-bs-toggle="tooltip"]'),
        );
        tooltipTriggerList.map(tooltipTriggerEl => {
          const tooltip = new bootstrap.Tooltip(tooltipTriggerEl);
          tooltipTriggerEl.addEventListener('mouseleave', () => tooltip.hide());
          return tooltip;
        });
      }
      document.addEventListener('DOMContentLoaded', initTooltips);
    </script>
  </body>
</html>
