<% const formattedCategoryTitles = { 
  mustFix: "Must Fix",
  goodToFix: "Good to Fix",
  needsReview: "Needs Review",
  passed: "Passed"
} %>

<div class="d-md-none d-flex mt-4 mx-2 px-2 position-relative ally-button-container" aria-label="Issue category">
  <label class="visually-hidden" for="select">Accessible Dropdown</label>
  <button
    class="ally-toggle-button"
    role="combobox"
    id="select"
    value="Select"
    aria-controls="listbox"
    aria-haspopup="listbox"
    tabindex="0"
    aria-expanded="false"
  >Accessible Dropdown</button>
  <div>
    <svg
      tabindex="-1"
      id="categorySelectorDropdownToolipDescription"
      class="h-100 ms-2"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Choose a category from the dropdown"
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
    <g clip-path="url(.clip0_1630_1670)">
      <path
        d="M11.9528 2.05329C9.22079 -0.68205 4.78867 -0.68477 2.0533 2.04718C-0.682042 4.7792 -0.684795 9.21135 2.04722 11.9467C4.77917 14.6821 9.21135 14.6848 11.9467 11.9528C14.682 9.22085 14.6848 4.78863 11.9528 2.05329ZM7.00216 11.2406C6.6319 11.2406 6.33174 10.9405 6.33174 10.5702C6.33174 10.1999 6.63187 9.89976 7.00216 9.89976C7.37243 9.89976 7.67259 10.1999 7.67259 10.5702C7.67255 10.9405 7.37243 11.2406 7.00216 11.2406ZM8.09214 7.20401C7.70918 7.42788 7.67645 7.7033 7.6748 8.49691C7.6747 8.54938 7.67453 8.60233 7.67423 8.65558C7.67185 9.03068 7.36712 9.33312 6.99253 9.33312C6.99105 9.33312 6.98957 9.33312 6.98813 9.33312C6.61159 9.33074 6.3083 9.02356 6.31066 8.64699C6.31099 8.59568 6.31109 8.54468 6.31119 8.49415C6.31287 7.67852 6.31492 6.66352 7.40395 6.02694C8.27777 5.51613 8.3879 5.18059 8.28543 4.74029C8.16503 4.2231 7.69273 4.08907 7.32418 4.1312C7.20042 4.14541 6.58322 4.24724 6.58322 4.85783C6.58322 5.23431 6.27795 5.5396 5.90141 5.5396C5.52487 5.5396 5.21964 5.23431 5.21964 4.85783C5.21964 3.76416 6.02107 2.90831 7.16859 2.77656C8.35043 2.64099 9.35515 3.32135 9.61338 4.4312C9.99939 6.08915 8.61379 6.89911 8.09214 7.20401Z"
        fill="#B5C5CA"
      />
    </g>
    <defs>
      <clipPath class="clip0_1630_1670">
        <rect width="14" height="14" fill="white" />
      </clipPath>
    </defs>
  </svg>
  </div>
  <!-- Screen Reader Announcer -->
  <div class="visually-hidden" id="announcement" aria-live="assertive" role="alert"></div>
  <ul role="listbox" id="listbox">
    <% Object.keys(items).forEach((category) => { %>
      <% if (category !== 'passed') { %>
        <li
          aria-labelledby="<%= category %>Title <%= category %>ItemsInformation"
          aria-describedby="<%= category %>AriaDescription"
          id="<%= category %>DropdownSelector"
          class="<%= category %>"
          role="option"
          >    <span id="<%= category %>Title" class="align-items-center category-name fw-bold d-inline mb-0">
            <%= formattedCategoryTitles[category] %>
          </span>
          <span id="<%= category %>ItemsInformation" class="px-2 category-information">
            <% if (category !== 'passed' && items[category].totalItems !== 0) { %> 
              (<%= items[category].rules.length %> issues) 
            <% } else if (category !== 'passed' && items[category].totalItems === 0) { %>
              (0 issues)
            <% } else { %>
              (<%= items[category].totalItems %> occurrences)
            <% } %>
          </span>
        </li>
      <% } %>
    <% }) %>
  </ul>
</div>
