<div
  id="pagesScannedModal"
  class="modal fade"
  aria-labelledby="pagesScannedModalLabel"
  aria-hidden="true"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fw-bold" id="pagesScannedModalLabel">
          <%= scanType === 'Customized' ? customFlowLabel + ' (' + totalPages + ' pages)' : scanType + ' crawl' + ' (' + totalPages + ' pages)'%>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <% if (totalPagesNotScanned > 0) { %>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button 
              class="nav-link active" 
              id="pages-scanned-tab" 
              data-bs-toggle="tab" 
              data-bs-target="#pages-scanned" 
              type="button"
              role="tab"
              aria-controls="pages-scanned"
              aria-selected="true"
            > 
              Scanned
              <span class="badge"><%= totalPagesScanned %></span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pages-not-scanned-tab"
              data-bs-toggle="tab"
              data-bs-target="#pages-not-scanned"
              type="button"
              role="tab"
              aria-controls="pages-not-scanned"
              aria-selected="true"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12 19.875C9.91142 19.875 7.90838 19.0453 6.43153 17.5685C4.95468 16.0916 4.125 14.0886 4.125 12C4.125 9.91142 4.95468 7.90838 6.43153 6.43153C7.90838 4.95468 9.91142 4.125 12 4.125C14.0886 4.125 16.0916 4.95468 17.5685 6.43153C19.0453 7.90838 19.875 9.91142 19.875 12C19.875 14.0886 19.0453 16.0916 17.5685 17.5685C16.0916 19.0453 14.0886 19.875 12 19.875ZM12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21Z" fill="#D7260F"/>
                <path d="M10.8772 15.3751C10.8772 15.2274 10.9063 15.0811 10.9628 14.9446C11.0194 14.8081 11.1022 14.6841 11.2067 14.5796C11.3112 14.4752 11.4352 14.3923 11.5717 14.3357C11.7082 14.2792 11.8545 14.2501 12.0022 14.2501C12.1499 14.2501 12.2962 14.2792 12.4327 14.3357C12.5692 14.3923 12.6932 14.4752 12.7977 14.5796C12.9022 14.6841 12.985 14.8081 13.0416 14.9446C13.0981 15.0811 13.1272 15.2274 13.1272 15.3751C13.1272 15.6735 13.0087 15.9596 12.7977 16.1706C12.5867 16.3816 12.3006 16.5001 12.0022 16.5001C11.7038 16.5001 11.4177 16.3816 11.2067 16.1706C10.9957 15.9596 10.8772 15.6735 10.8772 15.3751ZM10.9874 8.61949C10.9725 8.47756 10.9875 8.33407 11.0315 8.19832C11.0756 8.06257 11.1477 7.9376 11.2432 7.83152C11.3387 7.72544 11.4554 7.64062 11.5857 7.58256C11.7161 7.52449 11.8572 7.49449 11.9999 7.49449C12.1427 7.49449 12.2838 7.52449 12.4142 7.58256C12.5445 7.64062 12.6612 7.72544 12.7567 7.83152C12.8522 7.9376 12.9243 8.06257 12.9683 8.19832C13.0124 8.33407 13.0274 8.47756 13.0124 8.61949L12.6187 12.5649C12.6055 12.7199 12.5346 12.8642 12.42 12.9695C12.3054 13.0747 12.1555 13.133 11.9999 13.133C11.8444 13.133 11.6945 13.0747 11.5799 12.9695C11.4653 12.8642 11.3944 12.7199 11.3812 12.5649L10.9874 8.61949Z" fill="#D7260F"/>
              </svg>
              Not scanned
              <span class="badge"><%= totalPagesNotScanned %></span>
            </button>
          </li>
        </ul>
        <% } %>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="pages-scanned" role="tabpanel" aria-labelledby="pages-scanned-tab">
            <ul class="unbulleted-list">
              <% pagesScanned.forEach((page, index) => { %> 
              <li>
                <a href="<%= page.url %>" target="_blank"><%= page.pageTitle.length > 0 ? page.pageTitle : page.url %></a>
                <span><%= page.url %></span>
              </li>
              <% }) %>
            </ul>    
          </div>
          <% if (totalPagesNotScanned > 0) { %>
          <div class="tab-pane fade" id="pages-not-scanned" role="tabpanel" aria-labelledby="pages-not-scanned-tab">
            <ul class="unbulleted-list">
              <% pagesNotScanned.forEach((page, index) => { %>
              <li>
                <a class="not-scanned-url" href="<%= page.url %>" target="_blank"><%= page.url %></a>
              </li>
              <% }) %>
            </ul>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
