<aside id="scan-about" class="flex-shrink-0">
  <h2 class="mb-3">About this scan</h2>
  <ul>
    <li>
      <svg
        aria-label="Start time"
        width="18"
        height="19"
        viewBox="0 0 18 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.69863 0.927936C3.69863 0.41626 4.11262 0.00146484 4.62329 0.00146484C5.13396 0.00146484 5.54795 0.41626 5.54795 0.927936V1.85441H9.24658V0.927936C9.24658 0.41626 9.66056 0.00146484 10.1712 0.00146484C10.6819 0.00146484 11.0959 0.41626 11.0959 0.927936V1.85441H12.0205C13.5526 1.85441 14.7945 3.09879 14.7945 4.63382V8.51434C14.6723 8.5058 14.549 8.50146 14.4247 8.50146C14.0768 8.50146 13.7367 8.53544 13.4075 8.60029V7.41323H1.38699V12.9721C1.38699 13.7396 2.00795 14.3618 2.77397 14.3618H9.1446C9.18737 14.8464 9.29359 15.3125 9.45476 15.7515H2.77397C1.24195 15.7515 0 14.5071 0 12.9721V4.63382C0 3.09879 1.24195 1.85441 2.77397 1.85441H3.69863V0.927936ZM9.24658 3.24411V3.70735C9.24658 4.21902 9.66056 4.63382 10.1712 4.63382C10.6819 4.63382 11.0959 4.21902 11.0959 3.70735V3.24411H12.0205C12.7866 3.24411 13.4075 3.8663 13.4075 4.63382V6.48676H1.38699V4.63382C1.38699 3.8663 2.00795 3.24411 2.77397 3.24411H3.69863V3.70735C3.69863 4.21902 4.11262 4.63382 4.62329 4.63382C5.13396 4.63382 5.54795 4.21902 5.54795 3.70735V3.24411H9.24658ZM17.0959 14.0015C17.0959 15.7043 15.7343 17.0848 14.0548 17.0848C12.3752 17.0848 11.0137 15.7043 11.0137 14.0015C11.0137 12.2986 12.3752 10.9181 14.0548 10.9181C15.7343 10.9181 17.0959 12.2986 17.0959 14.0015ZM18 14.0015C18 16.2106 16.2337 18.0015 14.0548 18.0015C11.8759 18.0015 10.1096 16.2106 10.1096 14.0015C10.1096 11.7923 11.8759 10.0015 14.0548 10.0015C16.2337 10.0015 18 11.7923 18 14.0015ZM14.0548 11.5015C13.8732 11.5015 13.726 11.6507 13.726 11.8348V13.9181C13.726 14.0241 13.7748 14.1185 13.8507 14.1795C13.8597 14.191 13.8696 14.2021 13.8803 14.2125L14.8486 15.161C14.9791 15.2889 15.1873 15.2853 15.3134 15.1529C15.4396 15.0205 15.436 14.8095 15.3054 14.6816L14.3836 13.7785V11.8348C14.3836 11.6507 14.2364 11.5015 14.0548 11.5015Z"
          fill="#CED4DA"
        />
      </svg>
      <span><%= startTime %></span>
    </li>
    <li>
      <svg
        aria-label="URL scanned"
        width="18"
        height="15"
        viewBox="0 0 18 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.5789 2.80146H1.42105V12.6015H16.5789V2.80146ZM18 0.934798V2.80146V13.0681C18 13.5836 17.5758 14.0015 17.0526 14.0015H0.947369C0.42415 14.0015 0 13.5836 0 13.0681V2.80146V0.934798C0 0.419332 0.42415 0.00146484 0.947369 0.00146484H17.0526C17.5758 0.00146484 18 0.419332 18 0.934798ZM3.07895 2.3348C2.68653 2.3348 2.36842 2.0214 2.36842 1.6348C2.36842 1.2482 2.68653 0.934798 3.07895 0.934798C3.47136 0.934798 3.78947 1.2482 3.78947 1.6348C3.78947 2.0214 3.47136 2.3348 3.07895 2.3348ZM4.26316 1.6348C4.26316 2.0214 4.58127 2.3348 4.97368 2.3348C5.3661 2.3348 5.68421 2.0214 5.68421 1.6348C5.68421 1.2482 5.3661 0.934798 4.97368 0.934798C4.58127 0.934798 4.26316 1.2482 4.26316 1.6348ZM6.86842 2.3348C6.47601 2.3348 6.15789 2.0214 6.15789 1.6348C6.15789 1.2482 6.47601 0.934798 6.86842 0.934798C7.26083 0.934798 7.57895 1.2482 7.57895 1.6348C7.57895 2.0214 7.26083 2.3348 6.86842 2.3348Z"
          fill="#CED4DA"
        />
      </svg>
      <a aria-label="<%= urlScanned %>" href="<%= urlScanned %>" target="_blank"><%= urlScanned %></a>
    </li>
    <% if (viewport !== null) { %>
      <li>
        <% if (viewport.startsWith('Desktop')) { %>
        <svg
          aria-label="Viewport"
          width="18"
          height="15.5"
          viewBox="0 0 18 15.5"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.56 0.19H1.44A1.26 1.26 0 0 0 0.18 1.452v10.092a1.26 1.26 0 0 0 1.26 1.262h5.67v1.242H5.85c-0.347 0 -0.63 0.282 -0.63 0.63 0 0.349 0.282 0.63 0.63 0.63h6.3c0.347 0 0.63 -0.282 0.63 -0.63 0 -0.349 -0.282 -0.63 -0.63 -0.63h-1.26v-1.242h5.67c0.697 0 1.26 -0.565 1.26 -1.262V1.452A1.26 1.26 0 0 0 16.56 0.19Zm0 10.98c0 0.218 -0.176 0.394 -0.394 0.394H1.834A0.394 0.394 0 0 1 1.44 11.17V1.866c0 -0.218 0.176 -0.394 0.394 -0.394H16.168c0.218 0 0.394 0.176 0.394 0.394L16.56 11.17Z"
            fill="#CED4DA"
          />
        </svg>
        <% } else if (viewport.startsWith('CustomWidth')) { %>
        <svg
          aria-label="Viewport"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 3.6a3.6 3.6 0 0 1 3.6 -3.6h10.8a3.6 3.6 0 0 1 3.6 3.6v10.8a3.6 3.6 0 0 1 -3.6 3.6H3.6a3.6 3.6 0 0 1 -3.6 -3.6V3.6Zm3.329 6.263a0.863 0.863 0 0 0 -0.863 0.863v3.945a0.863 0.863 0 0 0 0.986 0.854c0.041 0.006 0.081 0.009 0.123 0.009h3.945a0.863 0.863 0 1 0 0 -1.726H4.192v-3.083a0.863 0.863 0 0 0 -0.863 -0.863Zm12.452 -2.588a0.863 0.863 0 1 1 -1.726 0V4.192h-3.328a0.863 0.863 0 0 1 0 -1.726h3.945c0.042 0 0.083 0.004 0.123 0.009a0.863 0.863 0 0 1 0.986 0.854v3.946Z"
            fill="#CED4DA"
          />
        </svg>
        <% } else { %>
        <svg
          aria-label="Viewport"
          width="12"
          height="22"
          viewBox="0 0 12 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.94595 0.00146484C0.87123 0.00146484 0 0.856193 0 1.91056V19.0924C0 20.1467 0.87123 21.0015 1.94595 21.0015H10.0541C11.1288 21.0015 12 20.1467 12 19.0924V1.91056C12 0.856194 11.1288 0.00146484 10.0541 0.00146484H1.94595ZM10.7027 2.54692H1.2973V17.8196H10.7027V2.54692ZM4.21622 1.1151C4.21622 1.02724 4.28882 0.95601 4.37838 0.95601H7.94595C8.03551 0.95601 8.10811 1.02724 8.10811 1.1151C8.10811 1.20296 8.03551 1.27419 7.94595 1.27419H4.37838C4.28882 1.27419 4.21622 1.20296 4.21622 1.1151ZM6.16216 20.3651C6.69952 20.3651 7.13514 19.9377 7.13514 19.4106C7.13514 18.8834 6.69952 18.456 6.16216 18.456C5.6248 18.456 5.18919 18.8834 5.18919 19.4106C5.18919 19.9377 5.6248 20.3651 6.16216 20.3651Z"
            fill="#CED4DA"
          />
        </svg>
        <% } %>
          <%= viewport.startsWith("CustomWidth") ? `${viewport.split("_")[1]} width` : viewport %>
          viewport 
        </span>
      </li>
    <% } %>
    <li>
      <svg
        aria-label="Pages scanned"
        width="17"
        height="18"
        viewBox="0 0 17 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1630_1547)">
          <path
            d="M14.0299 1.09229H2.97102C2.59546 1.09229 2.29102 1.39673 2.29102 1.77228V16.231C2.29102 16.6065 2.59546 16.911 2.97102 16.911H14.0299C14.4054 16.911 14.7099 16.6065 14.7099 16.231V1.77228C14.7099 1.39673 14.4054 1.09229 14.0299 1.09229Z"
            stroke="#CED4DA"
            stroke-width="1.7369"
          />
          <path
            d="M5.03369 4.92139H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
          <path
            d="M5.03369 7.64136H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
          <path
            d="M5.03369 10.3613H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
          <path
            d="M5.03369 13.0813H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_1630_1547">
            <rect width="17" height="17" fill="white" transform="translate(0 0.501465)" />
          </clipPath>
        </defs>
      </svg>
      <button
        id="pagesScannedModalToggle"
        data-bs-toggle="modal"
        data-bs-target="#pagesScannedModal"
      ><%= isCustomFlow ? customFlowLabel + ' (' + totalPagesScanned + ' pages)' : scanType + ' crawl' + ' (' + totalPagesScanned + ' pages)'%>
      <% if (totalPagesNotScanned > 0) { %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M12 19.875C9.91142 19.875 7.90838 19.0453 6.43153 17.5685C4.95468 16.0916 4.125 14.0886 4.125 12C4.125 9.91142 4.95468 7.90838 6.43153 6.43153C7.90838 4.95468 9.91142 4.125 12 4.125C14.0886 4.125 16.0916 4.95468 17.5685 6.43153C19.0453 7.90838 19.875 9.91142 19.875 12C19.875 14.0886 19.0453 16.0916 17.5685 17.5685C16.0916 19.0453 14.0886 19.875 12 19.875ZM12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21Z" fill="#D7260F"/>
          <path d="M10.8772 15.3751C10.8772 15.2274 10.9063 15.0811 10.9628 14.9446C11.0194 14.8081 11.1022 14.6841 11.2067 14.5796C11.3112 14.4752 11.4352 14.3923 11.5717 14.3357C11.7082 14.2792 11.8545 14.2501 12.0022 14.2501C12.1499 14.2501 12.2962 14.2792 12.4327 14.3357C12.5692 14.3923 12.6932 14.4752 12.7977 14.5796C12.9022 14.6841 12.985 14.8081 13.0416 14.9446C13.0981 15.0811 13.1272 15.2274 13.1272 15.3751C13.1272 15.6735 13.0087 15.9596 12.7977 16.1706C12.5867 16.3816 12.3006 16.5001 12.0022 16.5001C11.7038 16.5001 11.4177 16.3816 11.2067 16.1706C10.9957 15.9596 10.8772 15.6735 10.8772 15.3751ZM10.9874 8.61949C10.9725 8.47756 10.9875 8.33407 11.0315 8.19832C11.0756 8.06257 11.1477 7.9376 11.2432 7.83152C11.3387 7.72544 11.4554 7.64062 11.5857 7.58256C11.7161 7.52449 11.8572 7.49449 11.9999 7.49449C12.1427 7.49449 12.2838 7.52449 12.4142 7.58256C12.5445 7.64062 12.6612 7.72544 12.7567 7.83152C12.8522 7.9376 12.9243 8.06257 12.9683 8.19832C13.0124 8.33407 13.0274 8.47756 13.0124 8.61949L12.6187 12.5649C12.6055 12.7199 12.5346 12.8642 12.42 12.9695C12.3054 13.0747 12.1555 13.133 11.9999 13.133C11.8444 13.133 11.6945 13.0747 11.5799 12.9695C11.4653 12.8642 11.3944 12.7199 11.3812 12.5649L10.9874 8.61949Z" fill="#D7260F"/>
        </svg>
      <% } %>
      </button>
    </li>
    <li>
      <svg
        aria-label="Scan Statistics"
        width="17"
        height="18"
        viewBox="0 0 17 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1630_1547)">
          <path
            d="M14.0299 1.09229H2.97102C2.59546 1.09229 2.29102 1.39673 2.29102 1.77228V16.231C2.29102 16.6065 2.59546 16.911 2.97102 16.911H14.0299C14.4054 16.911 14.7099 16.6065 14.7099 16.231V1.77228C14.7099 1.39673 14.4054 1.09229 14.0299 1.09229Z"
            stroke="#CED4DA"
            stroke-width="1.7369"
          />
          <path
            d="M5.03369 4.92139H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
          <path
            d="M5.03369 7.64136H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
          <path
            d="M5.03369 10.3613H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
          <path
            d="M5.03369 13.0813H11.9663"
            stroke="#CED4DA"
            stroke-width="1.189"
            stroke-linecap="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_1630_1547">
            <rect width="17" height="17" fill="white" transform="translate(0 0.501465)" />
          </clipPath>
        </defs>
      </svg>
      <span>
        <%= items.mustFix.totalItems + items.goodToFix.totalItems  %> occurrences failed,<br>
        <%= items.passed.totalItems %> occurrences passed
        <svg
          tabindex="-1"
          id="passedItemsTooltip"
          class="ms-2"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="You may find the list of passed HTML elements in ./passed_items.json.txt"
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(.clip0_1630_1670)">
            <path
              d="M11.9528 2.05329C9.22079 -0.68205 4.78867 -0.68477 2.0533 2.04718C-0.682042 4.7792 -0.684795 9.21135 2.04722 11.9467C4.77917 14.6821 9.21135 14.6848 11.9467 11.9528C14.682 9.22085 14.6848 4.78863 11.9528 2.05329ZM7.00216 11.2406C6.6319 11.2406 6.33174 10.9405 6.33174 10.5702C6.33174 10.1999 6.63187 9.89976 7.00216 9.89976C7.37243 9.89976 7.67259 10.1999 7.67259 10.5702C7.67255 10.9405 7.37243 11.2406 7.00216 11.2406ZM8.09214 7.20401C7.70918 7.42788 7.67645 7.7033 7.6748 8.49691C7.6747 8.54938 7.67453 8.60233 7.67423 8.65558C7.67185 9.03068 7.36712 9.33312 6.99253 9.33312C6.99105 9.33312 6.98957 9.33312 6.98813 9.33312C6.61159 9.33074 6.3083 9.02356 6.31066 8.64699C6.31099 8.59568 6.31109 8.54468 6.31119 8.49415C6.31287 7.67852 6.31492 6.66352 7.40395 6.02694C8.27777 5.51613 8.3879 5.18059 8.28543 4.74029C8.16503 4.2231 7.69273 4.08907 7.32418 4.1312C7.20042 4.14541 6.58322 4.24724 6.58322 4.85783C6.58322 5.23431 6.27795 5.5396 5.90141 5.5396C5.52487 5.5396 5.21964 5.23431 5.21964 4.85783C5.21964 3.76416 6.02107 2.90831 7.16859 2.77656C8.35043 2.64099 9.35515 3.32135 9.61338 4.4312C9.99939 6.08915 8.61379 6.89911 8.09214 7.20401Z"
              fill="#B5C5CA"
            />
          </g>
          <defs>
            <clipPath class="clip0_1630_1670">
              <rect width="14" height="14" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </span>
    </li>
    <li>
      <svg 
        aria-label="Scan engine"
        xmlns="http://www.w3.org/2000/svg" 
        width="1000" 
        height="1000" 
        viewBox="0 0 1000 1000" 
        fill="none"
      >
        <mask id="mask0_459_43" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1001" height="1001">
        <path d="M570.417 312.458C532.125 272.25 504.709 224.75 503.75 182.625C531.042 174.833 587.792 182.667 643.334 205.875C699.75 229.458 754.5 268.958 774.917 323.833C775.5 325.458 776.125 327.083 776.625 328.667C773.753 346.216 766.13 362.643 754.584 376.167C743.75 387.792 730.167 396.458 715.084 401.375C667.459 391.792 612.417 356.625 570.417 312.458ZM802.959 405.958C763.084 419.875 726.334 460.583 699.917 509.375C670.875 562.875 654.375 626.042 659.917 674.292C669.292 687.083 681.709 697.333 696.125 704C712.542 710.792 730.542 712.958 748.084 710.292C749.667 709.167 751 708.083 752.25 707.167C798.209 670.833 818.917 606.625 823.917 545.708C828.875 485.833 818.834 429.458 802.959 405.958ZM472.167 264.75C472.172 248.88 468.113 233.273 460.375 219.417C451.084 204.29 437.827 191.998 422.042 183.875L416.917 183.958C358.334 186.375 303.834 226.167 263.917 272.542C224.709 318.042 199.625 369.583 198.667 397.917C239.042 409.917 292.709 398.625 342.792 374.625V374.708C397.792 348.417 448.292 307 472.167 264.75ZM331.667 610.042C323.625 549.667 299.792 488.917 266.959 453.083C251.849 448.209 235.749 447.249 220.167 450.292C202.875 454.417 187.084 463.208 174.459 475.708L172.959 480.625C157.125 537.083 178.167 601.167 209.875 653.375C241.084 704.75 282.417 744.417 309.125 754.125C333.167 719.458 339.042 665 331.625 610L331.667 610.042ZM552.375 693.375C492.417 682.375 427.209 686.208 383 706.333C373.66 719.158 367.764 734.164 365.875 749.917C364.459 767.667 367.959 785.417 376 801.292C377.375 802.333 378.792 803.25 380.167 804.125C429 836.583 496.542 836.375 556.125 822.375C614.667 808.542 665.25 781.625 682.75 759.25C657.167 725.625 607.042 703.25 552.417 693.25L552.375 693.375ZM1000 500C1000 775.917 776.5 999.667 500.625 1000C224.459 1000.33 0.333706 776.75 0.000372233 500.625C-0.332961 224.458 223.25 0.333426 499.375 9.29975e-05H499.417C775.709 -0.166574 999.834 223.708 1000 500ZM935.542 500C935.417 259.25 740.125 64.2084 499.375 64.3334C258.792 64.6251 63.9587 259.875 64.2504 500.5C64.542 741.125 259.792 935.917 500.417 935.625C740.834 935.333 935.542 740.417 935.542 500Z" fill="black"/>
        </mask>
        <g mask="url(#mask0_459_43)">
        <rect x="-291" y="-101" width="1451" height="1409" fill="#B5C5CA"/>
        </g>
      </svg>
      <span><%= 'Purple A11y Version ' + phAppVersion %></span>
    </li>
    <% if (cypressScanAboutMetadata) { %>
      <% const metadataItems = Object.keys(cypressScanAboutMetadata); %>
      <% metadataItems.forEach((key) => { %>
        <li>
          <span><%= key[0].toUpperCase() + key.slice(1) + ': ' + cypressScanAboutMetadata[key] %></span>
        </li>
      <% }) %>  
    <% } %>
  </ul>
  <hr class="my-4 d-none d-md-block" />
  <iframe
    id="a11y-online-banner"
    title="GovTech Accessibility Enabling Team information banner"
    class="h-auto w-100 d-none"
    src="https://govtechsg.github.io/purple-banner-embeds/"
    scrolling="no"
  ></iframe>
  <script>
    const a11yOnlineBannerElem = document.getElementById('a11y-online-banner'); 
    a11yOnlineBannerElem.style.display = 'none'; 
    fetch('https://govtechsg.github.io/purple-banner-embeds/')
      .then((response) => {
        if (response.ok) {
          console.log(response);
          a11yOnlineBannerElem.style.display = 'block';
        }
      })
  </script>
</aside>
